<flynt-component load:on="load" id="FeatureFrontendEditor" name="FeatureFrontendEditor" data-is-iframe-loading="true">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <aside data-ref="editSidebar" id="editSidebar-{{ post.id }}" aria-hidden="{{ isSidebarOpen ? 'false' : 'true' }}">
    <div class="loading-indicator">
      <span class="spinner is-active" style="background-image: url('{{ spinnerUrl }}')"></span>
    </div>
    <iframe class="iFrame-editor" data-ref="iFrame" loading="lazy" title="{{ __('Frontend Editor Content', 'flynt') }}" src="{{ function('get_edit_post_link') }}"></iframe>
  </aside>
  <iframe
    name="previewFrame"
    class="iFrame-content"
    data-ref="iFrameContent"
    loading="lazy"
    title="{{ __('Frontend Editor Preview', 'flynt') }}"
  ></iframe>
</flynt-component>
