<div class="flyntComponent flyntComponent--{{ options.size }} {{ options.theme }} {{ noComponentSpacing == true ? '' : 'componentSpacing' }}" is="flynt-block-image">
  <div class="container{% if options.size != 'sizeFull' %} centerMaxWidthContainer{% endif %}">
    <figure class="figure">
      {% if image.post_mime_type == 'image/svg+xml' %}
        <img
          class="image lazyload"
          src="{{ placeholderImage(760, 760 / image.aspect) }}"
          data-src="{{ image.src }}"
          alt="{{ image.alt|e }}"
        >
      {% else %}
        <img is="flynt-image" class="figure-image"
          src="{{ image.src|resizeDynamic(760) }}"
            srcset="{{ placeholderImage(760, 760 / image.aspect) }}"
            data-src="{{ image.src|generateRiasUrl(null, 0)}}"
          alt="{{ image.alt|e }}">
      {% endif %}
      {% if image.caption %}
        <figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
