
<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-grid-posts-archive">
  <div class="container centerMaxWidthContainer">
    <div class="preContent">
      <h1>{{ title }}</h1>
      {% set html = isHome ? preContentHtml : description %}
      {{ html|e('wp_kses_post') }}
    </div>
    {% if terms %}
      {% include 'Partials/_filter.twig' %}
    {% endif %}
    <ul class="posts">
      {% for post in posts %}
        <li class="post boxShadow boxRadius themeReset">
          <a class="post-link" href="{{ post.link }}" aria-label="{{ post.title }}">
            {% if post.thumbnail %}
              <figure class="figure">
                <img is="flynt-image" class="post-image figure-image"
                  src="{{ post.thumbnail.src|resizeDynamic(424, 283) }}"
                  srcset="{{ placeholderImage(3, 2) }}"
                  data-src="{{ post.thumbnail.src|generateRiasUrl(null, 0)}}"
                  data-aspectratio="1.5"
                  alt="{{ post.title }}">
              </figure>
            {% endif %}
            <div class="post-inner boxPadding">
              <h2 class="post-title h3">{{ post.title }}</h2>
              <p class="post-excerpt">{{ post.preview.read_more(false) }}</p>
            </div>
            <footer class="post-footer">
              <span class="post-readingTime">
                <i data-feather="clock"></i> {{ labels.readingTime|replace({'%': item.content|readingtime}) }}
              </span>
              <span class="button button--link post-readMore">{{ labels.readMore }}</span>
            </footer>
          </a>
        </li>
      {% else %}
        <p class="posts-empty">{{ labels.noPostsFound }}</p>
      {% endfor %}
    </ul>
    {% set pagination = posts.pagination %}
    {% if pagination.pages %}
      {% include 'Partials/_paginationButtons.twig' %}
    {% endif %}
  </div>
</div>
